.contact-section {
  max-width: 540px;
  text-align: center;
}

.contact-heading {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--font-size-section-heading);
  color: var(--secondary-color);
  margin-bottom: 2.5rem;
  font-family: var(--font-sans);
  font-weight: 600;
}

.contact-number {
  color: var(--primary-color);
  font-family: var(--font-mono);
  font-size: var(--font-size-xs);
  margin-right: 0.5rem;
}

.contact-text {
  color: var(--text-color);
  line-height: 1.6;
  font-size: var(--font-size-sm);
  margin-bottom: 3rem;
}

.contact-button {
  border: 1px solid var(--primary-color);
  padding: 1.25rem 1.75rem;
  border-radius: 4px;
  color: var(--primary-color);
  transition: all 0.3s ease-in-out;
  font-family: var(--font-mono);
  text-decoration: none;
  font-size: var(--font-size-xs);
}

.contact-button:hover {
  background-color: var(--link-hover-color);
  color: var(--primary-color);
}

/* Media Query for responsiveness */
@media (max-width: 768px) {
  .contact-section {
    padding: var(--section-padding-mobile); /* Usa la variabile globale */
  }

  .contact-heading {
    flex-direction: column;
    text-align: center;
    font-size: var(--font-size-xl);
  }
}