.experiences-section {
  max-width: 900px;
}

.experiences-heading {
  display: flex;
  align-items: center;
  font-size: var(--font-size-lg);
  color: var(--secondary-color);
  margin-bottom: 3rem;
}

.experiences-number {
  color: var(--primary-color);
  font-family: var(--font-mono);
  font-size: var(--font-size-xs);
  margin-right: 0.5rem;
}

.experiences-tab {
  display: flex;
}

.tab-list {
  display: flex;
  flex-direction: column;
  min-width: 150px;
  border-left: 2px solid transparent; /* Make border transparent for image */
  border-image: var(--gradient-border) 1; /* Apply stronger gradient */
  margin-right: 2rem;
}

.tab-button {
  background-color: transparent;
  color: var(--text-color);
  border: none;
  border-left: 2px solid transparent;
  padding: 1rem;
  text-align: left;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  font-size: var(--font-size-xs);
}

.tab-button.active {
  color: var(--primary-color);
  background-color: var(--card-background);
  border-left: 2px solid transparent; /* Make border transparent for image */
  border-image: var(--gradient-border) 1; /* Apply stronger gradient */
}

.tab-button:hover {
  background-color: var(--card-background);
}

.tab-content {
  flex-grow: 1;
}

.job-title {
  font-size: var(--font-size-sm);
  color: var(--secondary-color);
  margin-bottom: 0.5rem;
}

.company-name {
  color: var(--primary-color);
}

.job-duration {
  font-size: var(--font-size-xxs);
  color: var(--job-duration-color);
  font-family: var(--font-mono);
  margin-bottom: 1rem;
}

.job-details {
  list-style-type: none;
  padding: 0;
  color: var(--text-color);
}

.job-details li {
  position: relative;
  margin-bottom: 0.5rem;
  padding-left: 1.5rem;
  font-size: var(--font-size-sm);
}

.job-details li::before {
  content: "▹";
  position: absolute;
  left: 0;
  color: var(--primary-color);
}

/* Media Query per la responsività */
@media (max-width: 768px) {
  .experiences-section {
    padding: var(--section-padding-mobile);
  }
  
  .experiences-tab {
    flex-direction: column;
  }

  .tab-list {
    flex-direction: row;
    border-left: none;
    border-bottom: 2px solid var(--border-color);
    margin-right: 0;
    margin-bottom: 1rem;
    overflow-x: auto;
  }

  .tab-button {
    border-left: none;
    border-bottom: 2px solid transparent;
    padding: 0.75rem; /* Reduced padding for mobile tabs */
  }
  
  .tab-button.active {
    border-left: none;
    border-bottom: 2px solid var(--primary-color);
  }

  .job-title {
    font-size: var(--font-size-md); /* Increased font size for readability */
  }

  .company-name {
    font-size: var(--font-size-md); /* Increased font size for readability */
  }
}