.about-section {
  max-width: 900px;
}

.about-heading {
  display: flex;
  align-items: center;
  font-size: var(--font-size-lg);
  color: var(--secondary-color);
  margin-bottom: 2rem;
}

.about-number {
  color: var(--primary-color);
  font-family: var(--font-mono);
  font-size: var(--font-size-xs);
  margin-right: 0.5rem;
}

.about-content {
  display: flex;
  gap: 2rem;
  align-items: flex-start;
}

.about-text {
  flex: 2;
}

.about-text p {
  margin-bottom: 1.5rem;
  line-height: 1.6;
  color: var(--text-color);
}

.skills-list {
  display: grid;
  grid-template-columns: repeat(2, minmax(140px, 200px));
  gap: 0 10px;
  padding: 0;
  margin-top: 1.5rem;
  list-style: none;
}

.skills-list li {
  position: relative;
  margin-bottom: 10px;
  padding-left: 20px;
  color: var(--text-color);
}

.skills-list li::before {
  content: "▹";
  position: absolute;
  left: 0;
  color: var(--primary-color);
}

.about-image-container {
  flex: 1;
  max-width: 300px;
  position: relative;
  border-radius: 4px;
}

.profile-image {
  width: 100%;
  border-radius: 4px;
  filter: grayscale(100%) contrast(1);
  transition: all 0.3s ease-in-out;
}

.about-image-container::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  border: 2px solid var(--primary-color);
  border-radius: 4px;
  top: 20px;
  left: 20px;
  z-index: -1;
  transition: all 0.3s ease-in-out;
}

/* Media Query per schermi piccoli (es. tablet e smartphone) */
@media (max-width: 768px) {
  .about-content {
    flex-direction: column;
    align-items: center;
  }

  .about-image-container {
    display: none;
  }

  .about-section {
    padding: var(--section-padding-mobile);
  }

  .about-text {
    text-align: center;
  }

  .about-heading {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .skills-list {
    grid-template-columns: 1fr;
    text-align: left;
  }
}