.about-section {
  max-width: 900px;
}

.about-heading {
  display: flex;
  align-items: center;
  font-size: var(--font-size-lg);
  color: var(--secondary-color);
  margin-bottom: 2rem;
}

.about-number {
  color: var(--primary-color);
  font-family: var(--font-mono);
  font-size: var(--font-size-xs);
  margin-right: 0.5rem;
}

.about-content {
  display: flex;
  gap: 4rem;
  align-items: flex-start;
}

.about-text {
  flex: 2;
}

.about-text p {
  margin-bottom: 1.5rem;
  line-height: 1.6;
  color: var(--text-color);
}

.skills-list {
  display: grid;
  grid-template-columns: repeat(2, minmax(140px, 200px));
  gap: 0 10px;
  padding: 0;
  margin-top: 1.5rem;
  list-style: none;
}

.skills-list li {
  position: relative;
  margin-bottom: 10px;
  padding-left: 20px;
  color: var(--text-color);
}

.skills-list li::before {
  content: "▹";
  position: absolute;
  left: 0;
  color: var(--primary-color);
}
/* About.css */

.about-image-container {
  flex: 1;
  max-width: 300px;
  position: relative;
  border-radius: 4px;
}

/* Stili per l'immagine */
.profile-image {
  width: 100%;
  border-radius: 4px;
  filter: contrast(1);
  transition: all 0.3s ease-in-out;
  z-index: 1; /* Abbassato per far sì che l'SVG la sovrasti */
  position: relative;
}

.profile-text-svg {
  position: absolute;
   top: calc(100px + 250px); 
  right: 0;
  transform: translate(50%, -50%);
  z-index: 3;
  width: 50px; 
  height: 300px;
}

/* Stile per il testo dentro l'SVG */
.svg-text-outline {
  font-family: var(--font-sans);
  font-size: 50px;
  fill: var(--secondary-color); /* Colore del riempimento */

  stroke: var(--border-color); /* Colore del contorno (stesso del riempimento per spessore) */
  stroke-width: 4px; /* Larghezza del contorno per renderlo più spesso */
  
  writing-mode: vertical-rl;
  text-orientation: upright;
}

@media (max-width: 768px) {
  .about-image-container {
    display: none;
  }
}