.email-container {
  width: 40px;
  position: fixed;
  bottom: 0;
  left: auto;
  right: 40px;
  z-index: 10;
  /* Assicurati che il container sia visibile di default su schermi grandi */
  display: flex; /* Aggiunto per un layout flessibile all'interno del container */
  flex-direction: column; /* Per allineare l'email in verticale */
  align-items: center; /* Per centrare l'email */
}

.email-container a {
  margin: 20px auto;
  padding: 10px;
  font-family: var(--font-mono);
  font-size: var(--font-size-xs);
  writing-mode: vertical-rl;
  letter-spacing: 0.1rem;
  color: var(--text-color);
  transition: all 0.2s ease-in-out;
}

.email-container a:hover {
  color: var(--primary-color);
  transform: translateY(-3px);
}

.email-container::after {
  content: '';
  display: block;
  width: 1px;
  height: 90px;
  margin: 0 auto;
  background-color: var(--text-color);
}

/* Media Query per nascondere su schermi piccoli */
@media (max-width: 768px) {
  .email-container {
    display: none; /* Nasconde l'intero container su schermi <= 768px */
  }
}