.footer {
  text-align: center;
  padding: 2rem;
  margin-top: 3rem; /* Reduced margin */
  color: var(--text-color);
  font-family: var(--font-mono);
  font-size: var(--font-size-xxs); /* Reduced font size */
}

.footer a {
  color: var(--primary-color);
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

.footer a:hover {
  filter: brightness(1.2);
}
