/* src/styles/Home.css */

.home-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
}

.home-section .intro {
  color: var(--primary-color);
  font-family: var(--font-mono);
  font-size: var(--font-size-xs);
  margin-bottom: 0.5rem;
}

.home-section .name {
  color: var(--secondary-color);
  font-size: 4rem;
  margin: 0;
}

.home-section .title {
  color: var(--text-color);
  font-size: 3rem;
  margin-top: 0;
}

.home-section .description {
  color: var(--text-color);
  font-size: var(--font-size-sm);
  line-height: 1.6;
  max-width: 540px;
}

/* Media Query per la responsività */
@media (max-width: 768px) {
  .home-section {
    padding: var(--section-padding-mobile); /* Usa la variabile globale per il padding */
  }

  .home-section .name {
    font-size: 2.5rem; /* Riduci la dimensione del nome su schermi piccoli */
  }

  .home-section .title {
    font-size: 2rem; /* Riduci la dimensione del titolo su schermi piccoli */
  }
}