/* src/styles/Home.css */

/* src/styles/Home.css */

.home-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
}

.home-section .intro {
  color: var(--primary-color);
  font-family: var(--font-mono);
  font-size: var(--font-size-xs);
  margin-bottom: 0.5rem;
}

.home-section .name {
  color: var(--secondary-color);
  font-size: 4rem;
  margin: 0;
}

.home-section .title {
  color: var(--text-color);
  font-size: 3rem;
  margin-top: 0;
}

.home-section .description {
  color: var(--text-color);
  font-size: var(--font-size-sm);
  line-height: 1.6;
  max-width: 540px;
}

.dna-background-svg {
  position: absolute;
  top: 4rem; /* Aligned with the bottom of the Navbar (approx. 64px) */
  right: 0;
  width: 40%; /* Reduced to 80% of previous 50% */
  height: auto;
  z-index: 0; /* Place behind text content */
  opacity: 0.4; /* Increased opacity for better contrast */
  pointer-events: none; /* Ensure it doesn't interfere with interactions */
  transform: scaleX(-1); /* Flip horizontally */
  transform: scaleX(-1) scale(1.1);
}

.dna-background-svg img {
  width: 100%;
  height: auto;
}

.dna-background-svg svg path {
  fill: var(--primary-color) !important; /* Override inline styles with primary color */
}

/* Media Query per la responsività */
@media (max-width: 768px) {
  .home-section {
    padding: var(--section-padding-mobile); /* Usa la variabile globale per il padding */
  }

  .home-section .name {
    font-size: 2.5rem; /* Riduci la dimensione del nome su schermi piccoli */
  }

  .home-section .title {
    font-size: 2rem; /* Riduci la dimensione del titolo su schermi piccoli */
  }
}