.socials-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.socials-list::after {
  content: '';
  display: block;
  width: 1px;
  height: 5.625rem;
  margin: 0 auto;
  background-color: var(--text-color);
}

.socials-list li {
  margin-bottom: 1.25rem;
}

.socials-list li a svg {
  width: 1.75rem;
  height: 1.75rem;
  stroke: var(--text-color);
  transition: all 0.2s ease-in-out;
}

.socials-list li a:hover svg {
  stroke: var(--primary-color);
}